{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">Description</th>
            <th class="active text-center">Ville</th>
            <th class="active text-center">Cotisation</th>
            <th class="active text-center">Type</th>
        </tr>
        <pre>
            {{ dump(evenements) }}
        </pre>

        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement.show', {id: evenement.id}) }}">{{ evenement.description }}</a></td>

                <td>  
                    <a href="#">
                        {{ evenement.ville }}
                    </a>
                </td>
                <td>{{ evenement.cotisation }}</td>
                <td>{{ evenement.idType.libelleType }}</td>
            </tr>
            <pre>
                {{ dump(evenement) }}
            </pre>
        {% endfor %}
    </table>
{% endblock %}
